#wrapper {width:960px;margin:30px auto 20px;}
.right {float:right;}
/* =Header
-------------------------------------------------------------- */
#branding {}
/* logo */
#site-title {padding:10px 0;height:80px;width: 960px;margin: 0 auto;position:relative;}
#site-title .logo {display:inline-block;*display:inline;zoom:1;line-height:900px;overflow:hidden;font-size:0;
	background-image: url(img/logo.png);height:56px;width:105px;position:relative;}
#site-title .right {position:absolute;top:10px;right:10px;}

/* 主导航 */
.main_nav {margin-bottom:40px;}
.main_nav ul {width:960px;margin:0 auto;padding:4px 0;font-size:14px;overflow:hidden;*zoom:1;list-style-type:none;}
.main_nav li {float:left;padding: 0 10px;}
.main_nav li:first-child {border-left:0;}
.main_nav li:last-child {border-right:0;}
.main_nav a {text-decoration:none;display:block;padding:5px 10px;color:#444;
}
.main_nav .current-menu-item a {border-bottom:3px solid #b00;}
.main_nav a:hover {border-bottom:3px solid #b00;}

#branding #site-op {position: absolute;top:20px;right:0;}
#branding #site-op .span2 {width:200px;}

#branding .keyword-list a{color:#888;}

/* =画报流
-------------------------------------------------------------- */
.goods-all {overflow:hidden;*zoom:1;}
.goods {float:left;margin:0 0 30px;padding:5px;;width:230px;}
.goods .goods-pic { position:relative;margin-bottom:5px;height:230px;width:230px;}
.goods .goods-pic img { display:block;text-decoration:none;position:absolute;bottom:0;
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
transition: opacity 0.3s;}
.goods .goods-pic .btn_delete {position:absolute;top:0;right:0;display:none;font-weight:bold;text-decoration:none;font-size:18px;}
.goods .goods-pic .label  {position:relative;z-index:10;}
.goods:hover .goods-pic .btn_delete {display:block;}
.goods .goods-pic img { max-width:230px; max-height:230px; display:block;}
.goods .op {text-align:center;color:#444;line-height:2;}
.goods .buttonline {opacity:0;
transition: opacity 0.3s;
-moz-transition: opacity 0.3s; /* Firefox 4 */
-webkit-transition: opacity 0.3s; /* Safari and Chrome */
-o-transition: opacity 0.3s; /* Opera */}
.goods:hover .buttonline {opacity:1;}

.goods .desc {overflow:hidden;*zoom:1;}
.goods .desc a {color:#444;}

/* 翻页 */
.pagenav_wrapper {text-align:center;}
.pagenav {clear: both;
text-align: center;
display: inline-block;
height: 24px;
padding: 5px 0;
background-color: #EAEAEC;
border-radius: 5px;
box-shadow: inset 0 2px 1px 0 #BBB,0 1px 1px 0 white;}
.pagenav a, .pagenav strong {display: inline-block;margin:0 2px;
zoom: 1;
text-decoration: none;
text-align: center;
font-weight: bold;
border: 1px solid #FCFCFC;
height: 22px;
line-height: 22px;
padding: 0 8px;
border-radius: 3px;
background: white;
box-shadow: 0 2px 3px 0 #CCC;}
.pagenav a {color:#666;}
.pagenav strong {color:#53b348;}

/* =Footer
-------------------------------------------------------------- */
.main-footer p, .main-footer p a {color: #666666;text-align: center;}
.main-footer {display: block;margin: 20px 0 40px;clear: both;}